/* General Styles */
body {
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Zilla Slab';
    background-color: #FFF6F6;
}

/* Header Styles */
.header {
    background-color: #FCCBCB;
    margin: 0;
    padding: 0;
    height: 150px;
    display: flex;
    align-items: center;
}

.header_menu {
    margin: auto;
    margin-right: 64px;
    display: flex;
    gap: 32px;
}

#icon {
    margin-left: 64px;
}

.menu_element {
    font-size: 32px;
    color: #FF6969;
    text-decoration: none;
}

.menu_element:hover {
    color: #FFF6F6;
}

/* Main Content Styles */
.main {
    margin: 0;
    padding: 0;
}


.profile {
    background-color: #FCCBCB;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    height: max-content;
}

.main_name {
    max-width: 882px;
    font-size: 128px;
    font-weight: medium;
    color: #0C0909;
    text-transform: uppercase;
    margin-left: 64px;
    margin-top: 88px;
    z-index: 1;
    position: absolute;
}

.main_photo {
    right: 0;
    z-index: 0;
    position: absolute;
}

/* Section Header Styles */
.header2 {
    font-size: 64px;
    color: #FF6969;
    margin-left: 64px;
    margin-top: 64px;
    text-transform: uppercase;
    font-weight: 400;
}

/* Illustration Styles */
#ill1 {
    position: absolute;
    right: 200px;
    margin-top: -146px;
}
 
#yandex {
    position: absolute;
    left: 64px;
    margin-top: -168px;
    height: 50px;
}

#inno {
    position: absolute;
    height: 50px;
    left: 321px;
    margin-top: -168px;
    border-radius: 16px;
}

#samsung{
    position: absolute;
    left: 239px;
    margin-top: -168px;
    border-radius: 16px;
}

.carousel{
    display: flex;
    flex-direction: row;
    margin: 0 64px;
    gap: auto;
    align-items: center;

}
.carousel-button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    height: fit-content;
    margin: 0;
}

.carousel-button:hover .button-icon {
    opacity: 0.7;
}

.cards{
    padding: 16px 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    gap: 32px;
    
}

.card{
    background-color: #FFF6F6;
    border-radius: 32px;
    box-shadow: 2px 4px 4px rgba(255, 105, 105, 0.5);
    border: 1px solid #FEAAAA;
    display: flex;
    gap: 32px;
    flex-direction: column;
    transition: transform 0.7s;
}

.card_title {
    font-size: 32px;
    color: #0C0909;
    font-weight: 400;
    margin: 32px 32px 0 32px;

}

.card_img{
    width: 340px;
    height: 328px;
}


.card_content {
    display: flex;
    gap: 24px;
    margin: 0 32px 32px;
    height: 100%;
}

.card_description {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.card_text {
    margin: 0;
    padding: 0;
    width: 195px;
    word-wrap: break-word;
    max-height: 261px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card_link {
    margin: auto 0 0 auto;
}


/* Paragraph Styles */
.paragraph {
    font-size: 24px;
    color: #0C0909;
}

.align_left {
    text-align: left;
    margin-top: 64px;
    margin-left: 64px;
    max-width: 684px;
}

.align_right {
    text-align: right;
    margin: 110px 64px 64px auto;
    max-width: 845px;
}


/* Footer Styles */
.footer {
    background-color: #FEAAAA;
    height: 160px;
    width: 100%;
    display: flex;
    align-items: center;
}

#tg-link{
    margin-left: 48px;
}


.social_media_link {
    height: 32px;
    width: 32px;
    margin-left: 16px;
}

.signiture {
    font-size: 24px;
    color: #FFF6F6;
    margin-right: 64px;
    margin-left: auto;
}
